<h1><%= @flat.name %></h1>
<h3> Hosts <%= @flat.number_of_guests %> people</h3>
<p><strong><%= @flat.price_per_night %></strong></p>
<%= @flat.description %>
<hr>
<%= link_to "Back to index", "/flats" %>
